.forgetpassword {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgetpassword_inputs {
    padding-top: 200px;
    width: 50%;
    height: 50%;
}

.forgetpassword_forget {
    padding-top: 10px;
}

.forgetpassword_buttons {
    width: 50%;
    height: 50%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}